// .testClass {
//     background-color: green !important;
// }

.rel .smallfont {
  font-size: small;
}

.datatable-crud-demo .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sheet-container {
  display: block;
  padding: 5px;
  -webkit-box-shadow: 0 0 6px #ccc;
  box-shadow: 0 0 6px #ccc;
  margin: auto;
  width: 500px;
  margin-top: 20px;
}

table.data-grid {
  margin: auto;
  width: 100%;
}

table.data-grid tr td.cell {
  overflow: hidden;
}

.rel {
  position: relative;
  margin-top: 100px;
}

.both-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.datatable-rowexpansion-demo .product-image {
  width: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.datatable-rowexpansion-demo .orders-subtable {
  padding: 1rem;
}

.makeSticky {
  position: -webkit-sticky; /* Safari & IE */
  position: sticky !important;
  top: 0 !important;
  z-index: 1100;
}

// dataTable styles

.headerFont {
  font-size: small !important;
  height: 25px;
}

.p-datatable-scrollable .p-datatable-thead > tr, .p-datatable-scrollable .p-datatable-tbody > tr, .p-datatable-scrollable .p-datatable-tfoot > tr {
  font-size: small !important;
}

.p-column-filter-row .p-column-filter-element {
  // flex: 1 1 auto;
  width: 100% !important;
  padding: 0;
  margin: 0;
  /* height: 25
px
; */
}

.p-inputtext {
  margin: 0 !important;
  padding: 2px !important;
}

.p-paginator-page, .p-paginator-next, .p-paginator-last, .p-paginator-first, .p-paginator-prev, .p-paginator-current {
  height: 2rem!important;
  min-width: 2rem!important;
}

.p-paginator {
  padding: 0px;
}

.p-paginator .p-dropdown {
  margin-left: 0.5rem;
  height: 2rem !important;
}

.p-paginator .p-dropdown .p-dropdown-label {
  padding: 3px 0px 0px 1px !important;
}

.p-datatable .p-datatable-tbody > tr {
  height: 1.65rem !important;
}

.p-input-icon-left > .p-inputtext {
  padding-left: 2rem !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

/*
.labelFontSize{
   font-size: 13px; 
}

// gradient animation starts
.test {
   width: 100%;
   height: 100%;
   color: #fff;
   background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
   background-size: 400% 400%;
   -webkit-animation: Gradient 15s ease infinite;
   -moz-animation: Gradient 15s ease infinite;
   animation: Gradient 15s ease infinite;
   }
 
 .paused {
   -webkit-animation-play-state: paused; // Safari 4.0 - 8.0 
   animation-play-state: paused;
 }
 
 @-webkit-keyframes Gradient {
   0% {
   background-position: 0% 50%
   }
 50% {
 background-position: 100% 50%
 }
 100% {
 background-position: 0% 50%
 }
 }
 
 @-moz-keyframes Gradient {
   0% {
   background-position: 0% 50%
   }
 50% {
 background-position: 100% 50%
 }
 100% {
 background-position: 0% 50%
 }
 }
 
 @keyframes Gradient {
   0% {
   background-position: 0% 50%
   }
 50% {
 background-position: 100% 50%
 }
 100% {
 background-position: 0% 50%
 }
 }
 
 
 */


// gradient animation ends
