.jFanTw {
  min-width: 8rem !important;
}
.smooth-dnd-container.horizontal > .smooth-dnd-draggable-wrapper > .smooth-dnd-draggable-wrapper {
  width: 9rem;
}

.smooth-dnd-draggable-wrapper > .smooth-dnd-draggable-wrapper > .section {
  width: 8rem;
}

.smooth-dnd-container.vertical > .smooth-dnd-draggable-wrapper {
  width: 8rem;
  border-radius: 12px;
}

.service-type-icons {
  float: right;
  margin-left: 5px;
  cursor: pointer;
}

.circle {
  border-radius: 50%;
  width: 19px;
  height: 19px;
  padding: 0px;
  border: 2px solid #000;
  text-align: center;
  font-size: 11px;
}

.service-icon {
  width: 18px;
  height: 18px;
}

.service-mens-stack {
  margin: 0;
  margin-left: 4rem;
}

.service-men-clr {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid;
  margin-top: 3px;
}

.service-men-on-leave {
  border-radius: 50%;
  border: 6px solid;
  font-size: 0;
  margin-left: 3px;
  cursor: pointer;
}

.service-men-on-leave-popover {
  padding-left: 5px;
  padding-right: 12px;
}

.service-men-on-leave-popover > .service-men-on-leave {
  border: 5px solid;
}

.service-type-grid {
  float: right;
}

.service-type-txt {
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.service-type-txt-clr {
  color: #000;
}

.arr-icn {
  color: #01a9d9;
  width: 25px;
  height: 25px;
  margin-right: -10px;
  cursor: pointer;
}

.mr-1rm {
  margin-right: 1rem;
}

.mr-half-rm {
  margin-right: 0.5rem;
}

.mt-1rm {
  margin-top: 1rem;
}

.mt-half-rm {
  margin-top: 0.5rem;
}

.ml-1rm {
  margin-left: 1rem;
}

.disabled {
  color: #8f8f8f;
  cursor: not-allowed;
  pointer-events: none;
}

.custom-card-header {
  padding-left: 5px;
  padding-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  /* width: 10rem; */
  width: 8rem;
  margin-bottom: 5px;
}

.custom-card-section {
  font-size: 12px;
  padding: 0 10px 10px 10px;
  width: 8rem;
}

.custom-header-section {
  padding: 10px;
  margin-bottom: -5px;
  width: 8rem;
  /* margin-left: 1rem; */
  /* background-color: #424242; */
  height: 4rem;
}

.custom-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  /* color: #8e9488; */
}

.add-callout-btn {
  background-color: #01a9d9;
  float: right;
}

.show-more-icn {
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin-bottom: -15px;
  margin-left: 3px;
}

.custom-card-address {
  font-weight: 700;
  white-space: break-spaces;
}
.filter-section {
  border: 2.5px solid;
  padding: 0.1rem 0.5rem 0 0.5rem;
  border-radius: 1rem;
}
.pointer-cls {
  cursor: pointer;
}
