.smooth-dnd-draggable-wrapper {
  border-radius: 12px;
}

.service-type-icons {
  float: right;
  margin-left: 5px;
}

.circle {
  border-radius: 50%;
  width: 19px;
  height: 19px;
  padding: 0px;
  border: 2px solid #000;
  text-align: center;
  font-size: 11px;
}

.service-icon {
  width: 18px;
  height: 18px;
}

.service-men-grid {
  background-color: #000;
  color: #fff;
  height: 100%;
}

.service-mens-stack {
  margin: 0;
  margin-left: 4rem;
}

.service-men-clr {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid;
  margin-top: 3px;
}

.service-type-grid {
  float: right;
}

.service-type-txt {
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.service-type-txt-clr {
  color: #000;
}

.arr-icn {
  color: #01a9d9;
  width: 25px;
  height: 25px;
  margin-right: -10px;
  cursor: pointer;
}

.mr-1rm {
  margin-right: 1rem;
}

.mt-1rm {
  margin-top: 1rem;
}

.mt-half-rm {
  margin-top: 0.5rem;
}

.ml-1rm {
  margin-left: 1rem;
}

.disabled {
  color: #8f8f8f;
  cursor: not-allowed;
  pointer-events: none;
}
